# XGBOOST Cleaning

## Import

In [130]:
import pandas as pd
import numpy as np
import xgboost as xgb
import os 
from sklearn.model_selection import train_test_split

## Change directory

In [131]:
os.chdir('/Users/bryanburzon/School/DS207/mids-207-final-project-summer23-Burzon-Brown-Caldera-Gomez/bryan_playground')

## Load Data

In [132]:
# Training Data 
x_train = pd.read_csv('/Users/bryanburzon/School/DS207/mids-207-final-project-summer23-Burzon-Brown-Caldera-Gomez/bryan_playground/xgboost/data/X_train.csv')
y_train = pd.read_csv('/Users/bryanburzon/School/DS207/mids-207-final-project-summer23-Burzon-Brown-Caldera-Gomez/bryan_playground/xgboost/data/y_train.csv')

# Test Data
x_test = pd.read_csv('/Users/bryanburzon/School/DS207/mids-207-final-project-summer23-Burzon-Brown-Caldera-Gomez/bryan_playground/xgboost/data/X_test.csv')
y_test = pd.read_csv('/Users/bryanburzon/School/DS207/mids-207-final-project-summer23-Burzon-Brown-Caldera-Gomez/bryan_playground/xgboost/data/y_test.csv')

In [133]:
x_train.head()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,54,55,56,57,58,59,60,61,62,63
0,0,6ed97ed5defe,0.341840,1524.80570,85.200147,31.044328,8.138688,5.457144,0.025578,16.164630,...,159.638896,0.158711,0,1,A,C,M,D,2012-05-17,1.337213e+09
1,1,c60e0e7b6ca1,0.290564,4875.39734,85.200147,20.762288,8.138688,4.686411,0.025578,9.005558,...,39.259008,0.231000,0,1,A,C,M,D,2012-08-01,1.343779e+09
2,2,48485c8c1ef7,0.585401,2668.16616,85.200147,21.350718,8.138688,5.528016,0.077343,7.171676,...,87.476292,0.058361,0,1,A,C,M,D,2014-07-09,1.404864e+09
3,3,913b30965ae1,0.337567,2191.31242,85.200147,15.887610,8.138688,4.092858,0.051156,8.072862,...,25.964340,0.111375,0,1,A,C,M,D,2014-07-16,1.405469e+09
4,4,e9d084428900,0.290564,6640.63246,157.214868,107.589780,8.138688,4.146012,0.025578,10.681890,...,93.052388,0.080542,0,1,A,C,M,D,2014-07-24,1.406160e+09

In [134]:
y_train.head()

   Unnamed: 0  0
0           0  0
1           1  0
2           2  0
3           3  0
4           4  0

In [135]:
x_test.head()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,54,55,56,57,58,59,60,61,62,63
0,0,2bb2902bd5e1,0.275608,3799.72912,85.200147,26.363212,8.138688,5.186945,0.025578,9.475057,...,42.346694,0.083935,0,1,A,B,M,B,NaN,NaN
1,1,2e4e80b95e24,0.170920,1963.64850,85.200147,22.574033,8.138688,2.595687,0.029232,3.396778,...,73.265992,21.978000,1,0,A,C,M,B,NaN,NaN
2,2,2f020a35ce2b,0.717864,5860.41236,85.200147,73.076812,11.987784,6.825859,0.025578,13.467374,...,111.938584,3.564000,0,1,A,C,M,B,NaN,NaN
3,3,3101fca6b743,0.521306,5674.69551,119.918576,34.726661,8.138688,2.861457,0.025578,15.679376,...,76.974816,1.122000,0,1,A,C,M,B,NaN,NaN
4,4,312661adb2ff,0.670861,1418.86415,124.294848,16.237571,10.792152,4.588962,0.166866,12.704832,...,23.441208,1.009800,0,1,A,C,M,B,NaN,NaN

In [136]:
y_test.head()

   Unnamed: 0  0
0           0  0
1           1  0
2           2  0
3           3  0
4           4  0

## Clean Data

### Remove Unwanted Column

In [137]:
# Remove 
x_train = x_train.drop('Unnamed: 0', axis = 1)
x_train = x_train.drop('62', axis = 1)
y_train = y_train.drop('Unnamed: 0', axis = 1)

x_test = x_test.drop('62', axis = 1)
x_test = x_test.drop('Unnamed: 0', axis = 1)
y_test = y_test.drop('Unnamed: 0', axis = 1)



# remove date date

### Join Df

In [138]:
df_train = x_train.join(y_train, lsuffix='_df1', rsuffix='_df2')

df_test = x_test.join(y_test, lsuffix='_df1', rsuffix='_df2')

df = pd.concat([df_train, df_test])

df.rename(columns={'0_df2': 'class'}, inplace=True)

### Split Data

In [139]:
x = df.drop('class', axis = 1).copy()
y = df['class'].copy()

In [140]:
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state = 42, stratify = y)

In [141]:
sum(y_train)/len(y_train)

0.17532467532467533

In [142]:
sum(y_test)/len(y_test)

0.17419354838709677

### Create CSV

In [144]:

file_path = '/Users/bryanburzon/School/DS207/mids-207-final-project-summer23-Burzon-Brown-Caldera-Gomez/bryan_playground/xgboost/cluster_data/x_train_cluster_samp.csv'
x_train.to_csv(file_path, index=False)

file_path = '/Users/bryanburzon/School/DS207/mids-207-final-project-summer23-Burzon-Brown-Caldera-Gomez/bryan_playground/xgboost/cluster_data/x_test_cluster_samp.csv'
x_test.to_csv(file_path, index=False)

file_path = '/Users/bryanburzon/School/DS207/mids-207-final-project-summer23-Burzon-Brown-Caldera-Gomez/bryan_playground/xgboost/cluster_data/y_train_cluster_samp.csv'
y_train.to_csv(file_path, index=False)

file_path = '/Users/bryanburzon/School/DS207/mids-207-final-project-summer23-Burzon-Brown-Caldera-Gomez/bryan_playground/xgboost/cluster_data/y_test_cluster_samp.csv'
y_test.to_csv(file_path, index=False)